h1 {
    color: rgba(255, 0, 255, .5);
    /*
    border-color: purple;
    border-width: 5px;
    border-style: solid;*/

    border: 8px rgb(255, 100, 80) dashed;
}

/*
width
color
style*/

li {
    color: #008000;
}

h4 {
    background: rgb(255, 100, 80);
}

body {
    background: lightslategrey;
}

body {
	background: pink;
    /*background: url(https://images.homedepot-static.com/productImages/3c9e8c98-c56d-4b64-be76-f4cf877de597/svn/beige-designer-stencils-stencils-fs024-64_1000.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
}